<div style="border:13px solid red" class="poff-default-layout poff-default-layout--{{kind}}">
    <aside class="poff-default-layout__sidebar">
        <nav class="poff-default-layout__nav" aria-label="Current work navigation">
            {{#if parentPageLink}}
                <a class="poff-default-layout__nav-link poff-default-layout__nav-link--up" href="{{parentPageLink}}">
                    <span class="poff-default-layout__nav-icon">↑</span>
                    <span class="poff-default-layout__nav-name">Go Up</span>
                </a>
            {{/if}}

            {{#if showDirectoryPageLink}}
                <a class="poff-default-layout__nav-link {{#if isFolder}}poff-default-layout__nav-link--current{{/if}}" href="{{directoryPageLink}}">
                    <span class="poff-default-layout__nav-icon">./</span>
                    <span class="poff-default-layout__nav-name">./</span>
                </a>
            {{/if}}

            {{#if isFolder}}
                {{#each items}}
                    <a class="poff-default-layout__nav-link" href="{{pageLink}}">
                        <span class="poff-default-layout__nav-icon">{{#if isFolder}}▣{{else}}◧{{/if}}</span>
                        <span class="poff-default-layout__nav-name">{{name}}</span>
                    </a>
                {{/each}}
            {{else}}
                <a class="poff-default-layout__nav-link poff-default-layout__nav-link--current" href="{{pageLink}}">
                    <span class="poff-default-layout__nav-icon">◧</span>
                    <span class="poff-default-layout__nav-name">{{name}}</span>
                </a>
            {{/if}}
        </nav>
    </aside>

    <div class="poff-default-layout__stage">
        <header class="poff-default-layout__header">
            <div class="poff-default-layout__header-copy">
                <p class="poff-default-layout__eyebrow">{{#if isFolder}}Folder{{else}}Work{{/if}}</p>
                <h1 class="poff-default-layout__title">{{title}}</h1>
                {{#if description}}
                    <p class="poff-default-layout__description">{{description}}</p>
                {{/if}}
            </div>
        </header>

        <main style="border:13px solid blue" class="poff-default-layout__main">
            {{#if isFolder}}
                {{> works}}
            {{else}}
                {{> work}}
            {{/if}}
        </main>

        <footer class="poff-default-layout__footer">
            <span>{{#if isFolder}}Directory{{else}}File{{/if}}: {{name}}</span>
        </footer>
    </div>
</div>
