<div class="poff-default-layout poff-default-layout--{{kind}}">
    <header class="poff-default-layout__header">
        <div class="poff-default-layout__header-art">
            <img
                class="poff-default-layout__profile"
                src="{{layout.baseHref}}/eggman_profile-image.jpg"
                alt="Eggman profile"
            >
        </div>
        <div class="poff-default-layout__header-copy">
            <h1 class="poff-default-layout__title">{{title}}</h1>
            {{#if categories}}
                <div class="poff-default-layout__categories" aria-label="Categories">
                    {{#each categories}}
                        <span class="poff-default-layout__category-pill">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if description}}
                <p class="poff-default-layout__description">{{description}}</p>
            {{/if}}
        </div>
    </header>

    <main class="poff-default-layout__main">
        {{#if isFolder}}
            {{> works}}
        {{else}}
            {{> work}}
        {{/if}}
    </main>

    <footer class="poff-default-layout__footer">
        <span>Copyright eggman</span>
    </footer>
</div>
