<div class="poff-default-layout poff-default-layout--{{kind}}">
    <header class="poff-default-layout__header">
        <div class="poff-default-layout__header-art">
            <img
                class="poff-default-layout__profile"
                src="{{layout.baseHref}}/poff.profile.jpg"
                alt="Poff profile"
            >
        </div>
        <div class="poff-default-layout__header-copy">
            <h1 class="poff-default-layout__title">{{title}}</h1>
            {{#if categories}}
                <div class="poff-default-layout__categories" aria-label="Categories">
                    {{#each categories}}
                        <span class="poff-default-layout__category-pill">{{this}}</span>
                    {{/each}}
                </div>
            {{/if}}
            {{#if description}}
                <p class="poff-default-layout__description">{{description}}</p>
            {{/if}}
        </div>
    </header>

    <main class="poff-default-layout__main">
        {{#if isFolder}}
            {{> works}}
        {{else}}
            {{> work}}
        {{/if}}
    </main>

    <footer class="poff-default-layout__footer">
        {{#unless isFolder}}
            <a
                class="poff-default-layout__download"
                href="{{sourceUrl}}"
                download="{{name}}"
            >
                <span class="poff-default-layout__download-icon" aria-hidden="true">
                    <svg viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v7.59l2.3-2.3a1 1 0 111.4 1.42l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 111.4-1.42L9 10.59V3a1 1 0 011-1z"/>
                        <path d="M4 14a1 1 0 011 1v1h10v-1a1 1 0 112 0v1.5A1.5 1.5 0 0115.5 18h-11A1.5 1.5 0 013 16.5V15a1 1 0 011-1z"/>
                    </svg>
                </span>
                <span class="poff-default-layout__download-label">Download original</span>
            </a>
        {{/unless}}
        <span>Copyright eggman</span>
    </footer>
</div>
