<div style="border:13px solid red" class="poff-default-layout poff-default-layout--{{kind}}">

    ???**


    <div class="poff-default-layout__stage">
        <header class="poff-default-layout__header">
            <div class="poff-default-layout__header-copy">
                <p class="poff-default-layout__eyebrow">{{#if isFolder}}Folder{{else}}Work{{/if}}</p>
                <h1 class="poff-default-layout__title">{{title}}</h1>
                {{#if description}}
                    <p class="poff-default-layout__description">{{description}}</p>
                {{/if}}
            </div>
        </header>

        <main style="border:13px solid blue"  class="poff-default-layout__main">
            {{#if isFolder}}
                {{> works}}
            {{else}}
                {{> work}}
            {{/if}}
        </main>

        <footer class="poff-default-layout__footer">
            <span>{{#if isFolder}}Directory{{else}}File{{/if}}: {{name}}</span>
        </footer>
    </div>
</div>
