<article class="poff-default-layout__work">
    <header class="poff-default-layout__work-head">
        <p class="poff-default-layout__eyebrow">{{kind}}</p>
        <h2 class="poff-default-layout__work-title">{{title}}</h2>
        {{#if description}}
            <p class="poff-default-layout__work-description">{{description}}</p>
        {{/if}}
    </header>

    <div class="poff-default-layout__work-body">
        {{#if isImage}}
            <img class="poff-default-layout__media" src="{{srcUrl}}" alt="{{title}}">
        {{/if}}
        {{#if isVideo}}
            <video class="poff-default-layout__media" controls {{#if work.autoplay}}autoplay{{/if}} {{#if work.loop}}loop{{/if}} {{#if work.muted}}muted{{/if}} {{#if work.poster}}poster="{{work.poster}}"{{/if}}>
                <source src="{{srcUrl}}">
                Your browser does not support the video tag.
            </video>
        {{/if}}
        {{#if isAudio}}
            <audio class="poff-default-layout__audio" controls {{#if work.autoplay}}autoplay{{/if}}>
                <source src="{{srcUrl}}">
                Your browser does not support the audio element.
            </audio>
        {{/if}}
        {{#if isPdf}}
            <iframe class="poff-default-layout__frame" src="{{srcUrl}}" title="{{title}}"></iframe>
        {{/if}}
        {{#if isText}}
            {{#if showInlineTextPreview}}
                <pre class="poff-default-layout__text-preview">{{textContent}}</pre>
            {{else}}
                <iframe class="poff-default-layout__frame" src="{{srcUrl}}" title="{{title}}"></iframe>
            {{/if}}
        {{/if}}
        {{#if isLink}}
            <p class="poff-default-layout__link-line"><a class="poff-default-layout__link" href="{{linkUrl}}" target="{{work.target}}" rel="noopener">{{linkUrl}}</a></p>
        {{/if}}
        {{#if isOther}}
            <iframe class="poff-default-layout__frame" src="{{srcUrl}}" title="{{title}}"></iframe>
        {{/if}}
    </div>
</article>
